@media (960px <= width <= 1440px) {
  .container {
    padding-top: 80px;
  }

  .hero-sub-heading {
    margin-top: 40px;
  }

  .paragraph {
    margin-top: 16px;
  }

  .input-group {
    max-width: 637px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .email-group {
    flex: 2;
    max-width: 421px;
  }
  .email {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .error {
    padding-left: 30px;
    text-align: left;
  }
  .button {
    flex: 1;
    align-self: flex-start;
    max-width: 200px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
